@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .mil_1{
    line-height: 150%;
}

.filter{
  filter: grayscale(100%);
}

.tran_filter{
  filter: grayscale(100%);
}

.tran_filter:hover{
  filter: grayscale(0%);
}

.red-line {
  border: 1px solid red;
  height: 1px;
}

.deep_bg{
  background: rgba(18,24,32,.05);
}
